.metadata/
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/8f/d0925b14eef5001c111db79aef2b77bb
.metadata/.plugins/org.eclipse.core.resources/.history/b0/e07d2b71eef5001c111db79aef2b77bb
.metadata/.plugins/org.eclipse.core.resources/.history/e8/20bf300eeef5001c111db79aef2b77bb
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/.indexes/e4/b9/b3/a8/f3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/.indexes/e4/b9/b3/a8/f3/1c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AirKH/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/75/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/AirKH.launch
