<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>

	<typeAliases>
		<typeAlias type="com.air.kdh.HostDAO" alias="hdao" />
		<typeAlias type="com.model.common.HostDTO" alias="hdto" />
		
		<typeAlias type="com.air.kdh.MemberDAO" alias="mdao" />
		<typeAlias type="com.model.common.MemberDTO" alias="mdto" />
		
		<typeAlias type="com.air.kdh.ReviewDAO" alias="rdao" />
		<typeAlias type="com.model.common.ReviewDTO" alias="rdto" />
		
		
		
		<typeAlias type="com.model.common.PageDTO" alias="pdto" />
		
	</typeAliases>

</configuration>