

.flex{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	flex-wrap:wrap;
	
	grid-gap:4rem;
	
	justify-content:space-around;
	margin-left:350px;
	


}

.each_item{
	width: 130px;
	heght: 130px;

}

.each_items{
	width: 150px;
	heght: 150px;
	grid-column:3;
	grid-row:3;
	
}

.flex_r{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	flex-wrap:wrap;
	
	grid-gap:1rem;
	
	justify-content:space-around;
	margin-left:



}

.each_item_r{
	width: 400px;
	heght: 200px;

}

.each_items_r{
	width: 400px;
	heght: 200px;
	grid-column:2;
	grid-row:4;
	
}

.each_item_r:nth-child(odd){
	justify-self:right;
	
}
